.main--left {
    height: 100vh;
    width: 330px;
}
.main--home {
    background-color: #FFF;
    height: 460px;
    margin: 40px 20px 0 25px;
    box-shadow: 0 0 1em rgba(0, 0, 0, .2);
    border-radius: 8px;
}
.main--userInfo,
.main--options {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main--name {
    margin-top: 40px;
    font-weight: bold;
    font-size: 20px;
}
.main--bloco {
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.main--options {
    height: 280px;
    width: 285px;
    display: flex;
    justify-content: center;
}
.main-optionLink {
    padding: 28px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    transition: all ease 0.2s;
}
.main-optionLink:hover {
    color: #555;
}
.active {
    color: #8B4513;
    background-color: rgba( 255, 239, 190, 0.6);
}
.active:hover {
    color: #AD6735;
}
.main--hours {
    background-color: #FFF;
    height: 340px;
    margin: 40px 20px 0 25px;
    box-shadow: 0 0 1em rgba(0, 0, 0, .2);
    border-radius: 8px;
}
.main--title {
    display: flex;
    justify-content: center;
}
.main--title h2 {
    margin-top: 25px;
    font-size: 18px;
    font-weight: bold;
    color: #8B4513;
}
.main--hoursOpening {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 35px 0 35px;
}
.main--text {
    line-height: 1.8;
    font-weight: lighter;
    color: #9D8F8F;
}