.reserve {
    height: calc(100vh - 150px);
    width: 1366;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.reserve--right {
    height: 100%;
    width: 850px;
    margin-top: 150px;
}
.reserve--return a {
    color: #9C5624;
}
.reserve--row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.reserve--optionWash,
.reserve--optionDryer,
.reserve--optionWashDryer {
    height: 290px;
    width: 400px;
    margin-top: 1rem;
    box-shadow: 0 0 1em rgba(0, 0, 0, .2);
    border-radius: 8px;
    background-color: #FFF;
    position: relative;
}
.reserve--optionWashDryer {
    height: 290px;
    width: 825px;
}
.reserve--img {
    width: 100%;
    height: 290px;
    overflow: hidden;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, .9);
}
.reserve--img img{
    width: 100%;
    height: 290px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.5;
}
.reserve--content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 15px;
}
.reserve--content h2 {
    margin-top: 5px;
    font-size: 1.3rem;
    font-weight: bold;
    color: #FFF;
}
.reserve--content a {
    height: 50px;
    width: 230px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-decoration: none;
    background-color: #8B4513;
    border-radius: 25px;
    box-shadow: 0 0 1em rgba(0, 0, 0, .2);
    transform: scale(0.9);
    transition: all ease .4s;
}
.reserve--content a:hover {
    transform: scale(1);
    background-color: #9C5624;
}
.reserve--description {
    margin-top: 5px;
    width: 80%;
}
.reserve--description p {
    text-align: center;
    color: #FFF;
    font-size: 1rem;
}
.reserve--column {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}
